@model PROJ20_G20_DOTNET.Models.Domain.Lid
@{
    ViewData["Title"] = "Details";
}

<h2>@Model.Voornaam @Model.Achternaam</h2>

<div>
    <h3>@Model.Functie | @Model.Graad | @Model.PuntenAantal punten</h3>
    <div>
        <label>Geboortedatum: @Model.GeboorteDatum.ToShortDateString()</label><br />
        <label>Geboorteplaats: @Model.GeboortePlaats</label><br />
        <label>Geslacht: @Model.Geslacht</label><br />
        <label>Nationaliteit: @Model.Nationaliteit</label><br />
        <br />
        <label>@Model.Straat @Model.HuisNr @(Model.Bus != null ? Model.Bus : "")</label><br />
        <label>@Model.PostCode @Model.Stad.ToUpper()</label><br />
        <br />
        <label>GSM: @Model.GsmNr</label><br />
        <label>TEL: @(Model.VasteTelefoonNr != null ? Model.VasteTelefoonNr : "/")</label><br />
        <br />
        <label>E-mail: @Model.Email</label><br />
        <label>E-mail vader: @(Model.EmailVader != null ? Model.EmailVader : "/")</label><br />
        <label>E-mail moeder: @(Model.EmailMoeder != null ? @Model.EmailMoeder : "/")</label><br />
        <br />
        <label>Beroep: @(Model.Beroep != null ? @Model.Beroep : "/")</label><br />
        <div id="passwordDiv">
            <button id="btnToonWachtwoord" class="btn btn-default"
                    onclick="
                    const passDiv = document.getElementById('passwordDiv');
                    passDiv.removeChild(document.getElementById('btnToonWachtwoord'));
                    const lblWachtwoord = document.createElement('label');
                    const wwText = document.createTextNode('Wachtwoord: @Model.Wachtwoord');
                    lblWachtwoord.appendChild(wwText);
                    passDiv.appendChild(lblWachtwoord);">
                Toon wachtwoord
            </button><br />
        </div>
        <br />
    </div>
    <form>
        <button asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-default">Wijzig</button>
        <button asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-default">Verwijder</button>
        <button asp-action="Index" class="btn btn-default">Terug</button>
    </form>
</div>

