@model IEnumerable<PROJ20_G20_DOTNET.Models.Domain.Lid>

@{
    ViewData["Title"] = "Leden";
}

<div>
    @if (TempData["Success"] != null) {
        <br />
        <p class="alert alert-success">@TempData["Success"]</p>
    }
    else if (TempData["Error"] != null) {
        <br />
        <p class="alert alert-danger">@TempData["Error"]</p>
    }
    <h2>Leden</h2>
    <br />
    <div>
        <table class="table table-bordered table-striped">
            <tr>
                <th>Familienaam</th>
                <th>Voornaam</th>
                <th>Geboortedatum</th>
                <th class="text-right">Acties</th>
            </tr>

            @foreach (var Lid in Model) {
                <tr>
                    <td>@Lid.Achternaam</td>
                    <td>@Lid.Voornaam</td>
                    <td>@Lid.GeboorteDatum.ToShortDateString()</td>
                    <td class="text-right">
                        <form>
                            <a asp-action="Details" asp-route-id="@Lid.Id">Details</a> |
                            <a asp-action="Edit" asp-route-id="@Lid.Id">Wijzig</a> |
                            <a asp-action="Delete" asp-route-id="@Lid.Id">Verwijder</a>
                        </form>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>


