@model PROJ20_G20_DOTNET.Models.Domain.Oefening

@{
    ViewData["Title"] = Model.Titel;
}

<div class="container">
    <h2 class="titleAanwezigheden">@Model.Graad - <strong class="vetKleur">@Model.Thema.Naam</strong></h2>
    <hr />
</div>

<div class="volledigePagina">
    <div class="filmBeschrijvingContainer">
        <div class="oefeningContainer">
            <div class="filmpje">
                <iframe width="560"
                        height="315"
                        src=@Model.UrlVideo
                        frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
            </div>
            <div class="fBeschrijving">
                <h2 class="fTitel">@Model.Titel</h2>
                <p class="fTekstbeschrijving">(Hier beschrijving) sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Velit scelerisque in dictum non consectetur a erat. Tincidunt augue interdum velit euismod in pellentesque massa.</p>
            </div>
        </div>
    </div>

    <br />
</div>

@*<div class="volledigePagina">
        <div class="filmBeschrijvingContainer">
            <div class="filmpje">
                <div class="filmContainer">
                    <iframe width="560"
                            height="315"
                            src=@Model.UrlVideo
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe><br />
                </div>
                <div class="beschrijvingContainer">
                    <p>@Model.Tekst</p>
                </div>
                <form>
                    <button asp-action="ToonOefeningenLid" asp-route-id="@ViewData["LidId"]" class="btn btn-default">Terug</button>
                </form>
            </div>
        </div>
    </div>*@

@*<div class="volledigPagina">
        <h2>@Model.Graad | @Model.Thema.Naam | @Model.Titel</h2>
        <hr />
        <p>@Model.Tekst</p>
        <iframe width="560"
                height="315"
                src=@Model.UrlVideo
                frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe><br />
        <form>
            <button asp-action="ToonOefeningenLid" asp-route-id="@ViewData["LidId"]" class="btn btn-default">Terug</button>
        </form>
    </div>*@
