@model IEnumerable<PROJ20_G20_DOTNET.Models.Domain.Oefening>
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

@{
    ViewData["Title"] = "Oefeningen";
}

<div class="container">
    <h2 class="titleAanwezigheden">Oefeningen voor <strong class="vetKleur">@ViewData["LidNaam"]</strong></h2>
</div>

<div class="alles">
    <div class="oefeningen">
        @foreach (var Oefening in Model) {
            <div class="oefening">
                <div class="oefeningContainer">
                    <div class="informatie">
                        <div class="tekstContainer">
                            <p class="oGraad">@Oefening.Graad</p>
                            <h2 class="oTitel">@Oefening.Titel</h2>
                            <p class="oBeschrijving">@Oefening.Tekst.Substring(0,230) ...</p>
                            <a asp-action="RaadpleegOefening" asp-route-id="@Oefening.Id" asp-route-id2="@ViewData["LidId"]" class="oFilmpje">Bekijk het filmpje</a>
                        </div>
                    </div>
                    <div class="tnFilmpje">
                        <img class="tn" src="~/images/Oefeningen/@(Oefening.Titel).png" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>
