@model PROJ20_G20_DOTNET.Models.Domain.Activiteit

@{
    ViewData["Title"] = "Aanwezigheden";
}

<div>
    @if (TempData["Success"] != null) {
        <br />
        <p class="alert alert-success">@TempData["Success"]</p>
    }
    else if (TempData["Error"] != null) {
        <br />
        <p class="alert alert-danger">@TempData["Error"]</p>
    }
    <h2>Aanwezigheden voor @Model.Naam</h2>
    <hr />
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        @foreach (var ActiviteitInschrijving in Model.ActiviteitInschrijvingen) {
            @if (!ActiviteitInschrijving.IsAanwezig) {
                <div class="aanwezigFalse">
                    <p class="aanwezigLidName"><strong>@ActiviteitInschrijving.Inschrijving.Lid.Achternaam @ActiviteitInschrijving.Inschrijving.Lid.Voornaam</strong></p>
                    <form method="post">
                        <button class="btn btn-primary" type="submit" asp-action="VoegAanwezigheidToe"
                                asp-route-id="@ActiviteitInschrijving.Activiteit.Id"
                                asp-route-id2="@ActiviteitInschrijving.Inschrijving.Lid.Id">
                            Aanwezig
                        </button>
                    </form>
                </div>
            }
            else {
                <div class="aanwezigTrue">
                    <p class="aanwezigLidName"><strong>@ActiviteitInschrijving.Inschrijving.Lid.Achternaam @ActiviteitInschrijving.Inschrijving.Lid.Voornaam</strong></p>
                </div>
            }
        }
    </div>
</div>
