@model PROJ20_G20_DOTNET.Models.Domain.Activiteit

@{
    ViewData["Title"] = "Aanwezigheden";
}

@*@if (TempData["Success"] != null) {
        <br />
        <p class="alert alert-success">@TempData["Success"]</p>
    } else if (TempData["Error"] != null) {
        <br />
        <p class="alert alert-danger">@TempData["Error"]</p>
    }*@

<div class="aanwezighedenWrap">
    <div class="container">
        <h2 class="titleAanwezigheden">Wie is er aanwezig voor <strong class="vetKleur">@Model.Naam?</strong></h2>
        <hr />
    </div>
    @*<div>
            <form method="post">
                <div class="lab">
                    <label for="Naam inp" class="inp">
                        <input type="text" name="Naam" id="Naam id" />
                        <span class="label">Naam</span>
                        <span class="border"></span>
                    </label>
                    <button class="btn btn-primary" type="submit" asp-action="Aanwezigheden">
                        Filter
                    </button>
                </div>
            </form>
        </div>*@

    @*<div class="volledigeForm">
            <div>
                <label for="BeginDatum" class="inp">
                    <input type="text" id="inp" placeholder="&nbsp;">
                    <span class="label">Naam</span>
                    <span class="border"></span>
                </label>
            </div>
            <div>
                <button class="filterKnop" type="submit" asp-action="Index">
                    Filter
                </button>
            </div>
        </div>*@

    <div class="left-container">
        <div class="aanwezighedenWrap">

            <div class="zoek">

                <div class="volledigeForm">
                    <div class="body">
                        <div class="wrapper">
                            <form method="post">
                                <input class="search" type="text" name="Naam" id="Naam" value="@ViewBag.Naam" />
                                <button class="submit" type="submit" asp-action="Aanwezigheden">Zoek</button>
                            </form>
                        </div>
                    </div>
                </div>


            </div>

        </div>
        <div class="row-flex">
            @foreach (var ActiviteitInschrijving in Model.ActiviteitInschrijvingen) {
                @if (!ActiviteitInschrijving.IsAanwezig) {
                    <form method="post" class="aanwezigFalse aanwezigKaart">
                        @*<div>
                                <a onclick="document.getElementById('myform').id.submit();">
                                    <img class="foto" src="~/images/@(@ActiviteitInschrijving.Inschrijving.Lid.Geslacht.ToString()).png" />
                                </a>
                            </div>*@
                        <button class="knopKaart" type="submit" asp-action="VoegAanwezigheidToe"
                                asp-route-id="@ActiviteitInschrijving.Activiteit.Id"
                                asp-route-id2="@ActiviteitInschrijving.Inschrijving.Lid.Id">
                            <p class="aanwezigLidName">@ActiviteitInschrijving.Inschrijving.Lid.Achternaam @ActiviteitInschrijving.Inschrijving.Lid.Voornaam</p>
                        </button>
                    </form>

                } else {
                    <form method="post" class="aanwezigTrue aanwezigKaart">
                        @*<div>
                                <a onclick="document.getElementById('myform').submit();">
                                    <img class="foto" src="~/images/@(@ActiviteitInschrijving.Inschrijving.Lid.Geslacht.ToString()) .png" />
                                </a>
                            </div>*@
                        <button class="knopKaart" type="submit" asp-action="VerwijderActiviteit"
                                asp-route-id="@ActiviteitInschrijving.Activiteit.Id"
                                asp-route-id2="@ActiviteitInschrijving.Inschrijving.Lid.Id">
                            <p class="aanwezigLidName">@ActiviteitInschrijving.Inschrijving.Lid.Achternaam @ActiviteitInschrijving.Inschrijving.Lid.Voornaam</p>
                        </button>
                    </form>
                }
            }
        </div>
    </div>
</div>
<hr />

<div class="container">
        <button class="gastLidKnop" onclick="toggleShow()">Gastlid</button>
    <div id="voegGastToe" style="display: none;">
        <div class="container">
            <form class="ongewoonLidForm" method="post" asp-action="VoegGastToe" asp-route-id="@Model.Id">
                <div class="ongewoonLidVeld">
                    <label for="Voornaam" class="gastlid-label">Voornaam</label>
                    <input class="gastlid-input" type="text" name="Voornaam" id="Voornaam" />
                </div>
                <div class="ongewoonLidVeld">
                    <label for="Achternaam" class="gastlid-label">Achternaam</label>
                    <input class="gastlid-input" type="text" name="Achternaam" id="Achternaam" />
                </div>
                <div class="ongewoonLidVeld">
                    <label for="Email" class="gastlid-label">E-mail</label>
                    <input class="gastlid-input" type="text" name="Email" id="Email" />
                </div>
                <div class="ongewoonLidVeld">
                    <label for="Gsm" class="gastlid-label">Gsm nummer</label>
                    <input class="gastlid-input" type="text" name="Gsm" id="Gsm" />
                </div>
                <div>
                    <button class="btn btn-primary" type="submit">
                        Voeg Gast Toe
                    </button>
                </div>
            </form>
        </div>
    </div>

    <form method="get" class="geenlid">
        <button type="submit" class="gastLidKnop" asp-action="NietIngeschrevenLeden" asp-route-id="@Model.Id">Nog geen lid</button>
    </form>

</div>






<script>
    function toggleShow() {
        var x = document.getElementById("voegGastToe");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }
</script>



