@model PROJ20_G20_DOTNET.Models.Domain.Activiteit

@{
    ViewData["Title"] = "Aanwezigheden";
}

@*@if (TempData["Success"] != null) {
        <br />
        <p class="alert alert-success">@TempData["Success"]</p>
    } else if (TempData["Error"] != null) {
        <br />
        <p class="alert alert-danger">@TempData["Error"]</p>
    }*@

@if (TempData["Error"] != null) {
<p class="alert alert-danger" style="margin-top:10px;">@TempData["Error"]</p>
}

<div class="aanwezighedenWrap">
    <div class="container">
        <h2 class="titleAanwezigheden">Wie is er aanwezig voor <strong class="vetKleur">@Model.Naam?</strong></h2>
    </div>


    <div class="left-container">
                <div class="volledigeForm">
                    <div class="body">
                        <div class="wrapper">
                            <form method="post">
                                <input class="search" type="text" name="Naam" id="Naam" value=@ViewData["NaamFilter"] />
                                <button class="submit" type="submit" asp-action="Aanwezigheden">Zoek</button>
                            </form>
                        </div>
                    </div>
                </div>


        <div class="row-flex">
            @foreach (var ActiviteitInschrijving in Model.ActiviteitInschrijvingen) {
                @if (!ActiviteitInschrijving.IsAanwezig) {
                    <form method="post" class="aanwezigFalse aanwezigKaart">
                        @*<div>
                                <a onclick="document.getElementById('myform').id.submit();">
                                    <img class="foto" src="~/images/@(@ActiviteitInschrijving.Inschrijving.Lid.Geslacht.ToString()).png" />
                                </a>
                            </div>*@
                        <button class="knopKaart" type="submit" asp-action="VoegAanwezigheidToe"
                                asp-route-id="@ActiviteitInschrijving.Activiteit.Id"
                                asp-route-id2="@ActiviteitInschrijving.Inschrijving.Lid.Id">
                            <p class="aanwezigLidName">@ActiviteitInschrijving.Inschrijving.Lid.Achternaam @ActiviteitInschrijving.Inschrijving.Lid.Voornaam</p>
                            <p class="status">Afwezig</p>
                        </button>
                    </form>

                } else {
                    <form method="post" class="aanwezigTrue aanwezigKaart">
                        @*<div>
                                <a onclick="document.getElementById('myform').submit();">
                                    <img class="foto" src="~/images/@(@ActiviteitInschrijving.Inschrijving.Lid.Geslacht.ToString()) .png" />
                                </a>
                            </div>*@
                        <button class="knopKaart" type="submit" asp-action="VerwijderAanwezigheid"
                                asp-route-id="@ActiviteitInschrijving.Activiteit.Id"
                                asp-route-id2="@ActiviteitInschrijving.Inschrijving.Lid.Id">
                            <p class="aanwezigLidName">@ActiviteitInschrijving.Inschrijving.Lid.Achternaam @ActiviteitInschrijving.Inschrijving.Lid.Voornaam</p>
                            <p class="status">Aanwezig</p>
                        </button>
                    </form>
                }
            }
        </div>
    </div>
</div>
<hr />

<div class="container">
    <button class="gastLidKnop" onclick="toggleShow()">Gastlid</button>

    <div id="voegGastToe" style="display: none;">

        <form class="ongewoonLidForm" method="post" asp-action="VoegGastToe" asp-route-id="@Model.Id">
            <div class="gastLidFlexRij">
                <div class="ongewoonLidVeld flexItem">
                    <label for="Voornaam" class="editLabel">Voornaam</label>
                    <input class="editInput" type="text" name="Voornaam" id="Voornaam" />

                </div>
                <div class="ongewoonLidVeld flexItem">
                    <label for="Achternaam" class="editLabel">Achternaam</label>
                    <input class="editInput" type="text" name="Achternaam" id="Achternaam" />
                </div>
                <div class="ongewoonLidVeld flexItem">
                    <label for="Email" class="editLabel">E-mail</label>
                    <input class="editInput" type="text" name="Email" id="Email" />
                </div>
                <div class="ongewoonLidVeld flexItem">
                    <label for="Gsm" class="editLabel">Gsm nummer</label>
                    <input class="editInput" type="text" name="Gsm" id="Gsm" />
                </div>

            </div>
            <div class="gastKnopCenter">
                <button class="gastKnop" type="submit">
                    Voeg Toe
                </button>
            </div>
        </form>

    </div>


    <form method="get" class="geenlid">
        <button type="submit" class="gastLidKnop" asp-action="NietIngeschrevenLeden" asp-route-id="@Model.Id">Nog niet ingeschreven</button>
    </form>

</div>


<script>
    function toggleShow() {
        var x = document.getElementById("voegGastToe");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }
</script>



