@model PROJ20_G20_DOTNET.Models.Domain.Activiteit

@{
    ViewData["Title"] = "Aanwezigheden";
}

<div>
    @if (TempData["Success"] != null) {
        <br />
        <p class="alert alert-success">@TempData["Success"]</p>
    } else if (TempData["Error"] != null) {
        <br />
        <p class="alert alert-danger">@TempData["Error"]</p>
    }
    <h2>Aanwezigheden voor @Model.Naam</h2>
    <hr />
    <div>
        <form method="post">
            <label for="Naam" class="control-label">Naam</label>
            <br />
            <input type="text" name="Naam" id="Naam" />
            <button class="btn btn-primary" type="submit" asp-action="Aanwezigheden">
                Filter
            </button>
        </form>
    </div>
    <div class="aanwezighedenWrapper">
        @foreach (var ActiviteitInschrijving in Model.ActiviteitInschrijvingen) {
            @if (!ActiviteitInschrijving.IsAanwezig) {
                <form method="post" class="aanwezigFalse aanwezigKaart">
                    <button class="knopKaart" type="submit" asp-action="VoegAanwezigheidToe"
                            asp-route-id="@ActiviteitInschrijving.Activiteit.Id"
                            asp-route-id2="@ActiviteitInschrijving.Inschrijving.Lid.Id">
                        <p class="aanwezigLidName">@ActiviteitInschrijving.Inschrijving.Lid.Achternaam @ActiviteitInschrijving.Inschrijving.Lid.Voornaam</p>
                    </button>
                </form>
            } else {
                <form method="post" class="aanwezigTrue aanwezigKaart" >
                    <button class="knopKaart" type="submit" asp-action="VerwijderActiviteit"
                                    asp-route-id="@ActiviteitInschrijving.Activiteit.Id"
                                    asp-route-id2="@ActiviteitInschrijving.Inschrijving.Lid.Id" >
                        <p class="aanwezigLidName">@ActiviteitInschrijving.Inschrijving.Lid.Achternaam @ActiviteitInschrijving.Inschrijving.Lid.Voornaam</p>
                        
                    </button>
                </form>
            }
        }
    </div>
</div>

