@model IEnumerable<PROJ20_G20_DOTNET.Models.Domain.Activiteit>


@{
    ViewData["Title"] = "Aanwezigheden";
}

<div class="container">
    <h2 class="titleAanwezigheden">Kies een activiteit om de <strong class="vetKleur">@ViewData["Title"]</strong> te zien.</h2>
</div>


<div class="forms">
    <div class="centerForm">
        <form method="post" class="centerForm" id="filterSortForm">
            <label class="inputLabel">Naam:</label>
            <div for="Naam" class="inp">
                <input type="text" name="Naam" id="naam" value="@ViewData["NaamFilter"]">
                <span class="label"></span>
                <span class="border"></span>
            </div>
            <label class="inputLabel">Begindatum:</label>
            <div for="BeginDatum" class="inp">
                <input type="date" name="BeginDatum" id="BeginDatum">
                <span class="label"></span>
                <span class="border"></span>
            </div>
            <label class="inputLabel">Einddatum:</label>
            <div for="Einddatum" class="inp">
                <input type="date" name="EindDatum" id="EindDatum">
                <span class="label"></span>
                <span class="border"></span>
            </div>

            <button class="okKnop" type="submit" name="submit" value="Datum" asp-action="Index">
                Zoek
            </button>
        </form>
    </div>
</div>
<div class="limiter">
    <div class="tabelWrap">
        <table class="tabel">
            <tr class="rij header">
                <th class="cell"><input class="sortKnop" form="filterSortForm" name="submit" type="submit" asp-action="Index" value="Naam activiteit" />
                <i class="glyphicon glyphicon-triangle-bottom orderIcon" style="visibility:@ViewData["naamStyle"];"></i></th>
                <th class="cell"><input class="sortKnop" form="filterSortForm" name="submit" type="submit"  asp-action="Index" value="Datum" />
                                 <i class="glyphicon glyphicon-triangle-bottom orderIcon" style="visibility:@ViewData["begindatumStyle"];"></i></th>
                <th class="cell"><input class="sortKnop" form="filterSortForm" name="submit" type="submit" asp-action="Index" value="Tijdstip" />
                                 <i class="glyphicon glyphicon-triangle-bottom orderIcon" style="visibility:@ViewData["einddatumstyle"];"></i></th>
                <th class="cell"><input class="sortKnop" form="filterSortForm" name="submit" type="submit" asp-action="Index" value="Formule" />
                                 <i class="glyphicon glyphicon-triangle-bottom orderIcon" style="visibility:@ViewData["fornuleStyle"];"></i></th>
            </tr>
            @foreach (var Activiteit in Model) {
                <tr onclick="location.href = '@(Url.Action("Aanwezigheden", "Aanwezigheid", new { Id = Activiteit.Id }))'" class="rij">
                    <td class="cell">@Activiteit.Naam</td>
                    <td class="cell">@Activiteit.BeginDatum.ToShortDateString()</td>
                    <td class="cell">@Activiteit.BeginDatum.ToShortTimeString()</td>
                    <td class="cell">@Activiteit.Formule</td>

                </tr>
            }
        </table>
    </div>
</div>

