@model IEnumerable<PROJ20_G20_DOTNET.Models.Domain.Activiteit>

@{
    ViewData["Title"] = "Aanwezigheden";
}

<div>
    <h2>Activiteiten</h2>
    <hr />
    <div>
        <form method="post">
            <label for=" BeginDatum" class="control-label">Begindatum</label>
            <input type="date" name="BeginDatum" id="BeginDatum" />
            <label for="EindDatum" class="control-label">Einddatum</label>
            <input type="date" name="EindDatum" id="EindDatum" />
            <label for="Naam" class="control-label">Naam</label>
            <input type="text" name="Naam" id="Naam" />
            <button class="btn btn-primary" type="submit" asp-action="Index">
                Filter
            </button>
        </form>
    </div>
    <table class="table table-bordered table-striped">
        <tr>
            <th>Naam activiteit</th>
            <th>Datum</th>
            <th>Tijdstip</th>
            <th>Formule</th>
            <th></th>
        </tr>

        @foreach (var Activiteit in Model) {
            <tr>
                <td>@Activiteit.Naam</td>
                <td>@Activiteit.BeginDatum.ToShortDateString()</td>
                <td>@Activiteit.BeginDatum.ToShortTimeString()</td>
                <td>@Activiteit.Formule</td>
                <td class="text-right">
                    <form>
                        <a asp-action="Aanwezigheden" asp-route-id="@Activiteit.Id">Aanwezigheden</a>
                    </form>
                </td>
            </tr>
        }
    </table>
</div>
