@model IEnumerable<PROJ20_G20_DOTNET.Models.Domain.Activiteit>


@{
    ViewData["Title"] = "Aanwezigheden";
}

<div>
    <h2>Activiteiten</h2>
    <hr />
    <div class="test">
        <form method="post" class="test">
            <label for=" BeginDatum" class="control-label">Begindatum</label>
            <input type="date" name="BeginDatum" id="BeginDatum" />
            <label for="EindDatum" class="control-label">Einddatum</label>
            <input type="date" name="EindDatum" id="EindDatum" />
            <label for="Naam" class="control-label">Naam</label>
            <input type="text" name="Naam" id="Naam" />
            <button class="btn btn-primary" type="submit" asp-action="Index">
                Filter
            </button>
        </form>
    </div>
    <div class="limiter">
        <div class="table-container">
            <div class="tabelWrap">
                <table class="tabel">
                    <tr class="rij header">
                        <th class="cell">Naam activiteit</th>
                        <th class="cell">Datum</th>
                        <th class="cell">Tijdstip</th>
                        <th class="cell">Formule</th>
                    </tr>

                    @foreach (var Activiteit in Model) {
                        <tr onclick="location.href = '@(Url.Action("Aanwezigheden", "Aanwezigheid", new { Id = Activiteit.Id }))'" class="rij">
                            <td class="cell">@Activiteit.Naam</td>
                            <td class="cell">@Activiteit.BeginDatum.ToShortDateString()</td>
                            <td class="cell">@Activiteit.BeginDatum.ToShortTimeString()</td>
                            <td class="cell">@Activiteit.Formule</td>

                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>

