@model IEnumerable<PROJ20_G20_DOTNET.Models.Domain.Activiteit>


@{
    ViewData["Title"] = "Aanwezigheden";
}

<div class="container">
    <h2 class="titleAanwezigheden">Kies een activiteit om de <strong class="vetKleur">@ViewData["Title"]</strong> te zien</h2>
</div>


<div class="forms">
    <div class="centerForm">
        <form method="post" class="centerForm" id="filterSortForm">
            <label class="inputLabel">Naam: </label>
            <div for="Naam" class="inp">
                <input type="text" name="Naam" id="naam" value="@ViewData["NaamFilter"]">
<span class="label"></span>
                <span class="border"></span>
            </div>
            <label class="inputLabel">Begindatum:</label>
            <div for="BeginDatum" class="inp">
                <input type="date" name="BeginDatum" id="BeginDatum" placeholder="Begindatum">
                <span class="label"></span>
                <span class="border"></span>
            </div>
            <label class="inputLabel">Einddatum:</label>
            <div for="Einddatum" class="inp">
                <input type="date" name="EindDatum" id="EindDatum" placeholder="Einddatum">
                <span class="label"></span>
                <span class="border"></span>
            </div>

            @*  <label for="BeginDatum" class="control-label">Begindatum</label>
        <input type="date" name="BeginDatum" id="BeginDatum" />

        <label for="EindDatum" class="control-label">Einddatum</label>
        <input type="date" name="EindDatum" id="EindDatum" />

        <label for="Naam" class="control-label">Naam</label>
        <input type="text" name="Naam" id="Naam" />*@

            <button class="okKnop" type="submit" name="submit" value="Datum" asp-action="Index">
                Zoek
            </button>
        </form>
    </div>
</div>
<div class="limiter">
    <div class="tabelWrap">
        <table class="tabel">
            <tr class="rij header">
                <th class="cell"><a class="sortKnop" form="filterSortForm" name="submit" asp-action="Index" value="Naam activiteit"><p>Naam</p></a></th>
                <th class="cell"><a class="sortKnop" form="filterSortForm" name="submit"  asp-action="Index" value="Datum">Datum</a></th>
                <th class="cell"><a class="sortKnop" form="filterSortForm" name="submit" asp-action="Index" value="Tijdstip">Tijdstip</a></th>
                <th class="cell"><a class="sortKnop" form="filterSortForm" name="submit"  asp-action="Index" value="Formule">Formule</a></th>
            </tr>
            @foreach (var Activiteit in Model) {
                <tr onclick="location.href = '@(Url.Action("Aanwezigheden", "Aanwezigheid", new { Id = Activiteit.Id }))'" class="rij">
                    <td class="cell">@Activiteit.Naam</td>
                    <td class="cell">@Activiteit.BeginDatum.ToShortDateString()</td>
                    <td class="cell">@Activiteit.BeginDatum.ToShortTimeString()</td>
                    <td class="cell">@Activiteit.Formule</td>

                </tr>
            }
        </table>
    </div>
</div>

